<h1>Convert Decimal Numbers Into Any Base</h1>
<div>
<form action="<%= converted_path %>" method="POST">
<input type="number" name="Number" placeholder="Decimal Number">
<input type="number" name="Base" placeholder="Base number">
<button>Convert It!!!</button>
</form>
</div>